<div class="modal-dialog">
    <div class="modal-content">
        <form role="form" action="{% url 'EditarBaja' baja.id %}" method="post">{% csrf_token %}
                <div class="modal-header">
            <h5><strong>Editar Baja</strong></h5>
            <button type="button" class="close" data-dismiss="modal">x</button>
        </div>
        <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Editar Baja de<strong>" {{baja.primer_nombre}} {{baja.segundo_nombre}} {{baja.apellidos}}"</strong></p>
                </div>
                <div>
                    Fecha:
                    
                    <input type="text" id= "fecha_baja_id" name="fecha_baja" class="form-control"  value= "{{baja.fecha_baja|date:"d/m/Y"}}">
                    
                </div>
                
                <div>
                    Tipo:

                    <select class="custom-select" name= "select_baja1">
                        <option selected>No definido</option>
                        <option value="Cierre de Contrato">Cierre de Contrato</option>
                        <option value="Baja por solicitud propia">Baja por solicitu propia</option>
                        <option value="Por reincorporación del titular">Por reincorporación del titular</option>
                        <option value="Misión Internacionalista">Misión Internacionalista</option>
                    </select>
                    </div>
                    <div>
                    Causa:
           
                    <select class="custom-select" name= "select_baja2">
                        <option selected>No definido</option>
                        <option value="Cierre de Contrato">Cierre de Contrato</option>
                        <option value="Baja por solicitud propia">Baja por solicitud propia</option>
                        <option value="Por reincorporación del titular">Por reincorporación del titular</option>
                        <option value="Misión Internacionalista">Misión Internacionalista</option>
                    </select>
                </div>
                    <hr>
            
            </div>
                
        </div>
        <div class="modal-footer">
            <div class="col-lg-12 text-right">
                <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancelar
                </button>
            </div>
        </div>
        </form>
        
    </div>
</div>
<script>
    $('#fecha_baja_id').prop("readonly", true).datepicker({
    uiLibrary: 'bootstrap4',
    iconsLibrary: 'font-awesome',
    language: 'es'
});





</script>
