<div class="modal-dialog">
    <div class="modal-content">
        <form role="form" action="{% url 'EditarBaja' baja.id %}" method="post">
            {% csrf_token %}
            <div class="modal-header">
                <h5><strong>Editar Baja</strong></h5>
                <button type="button" class="close" data-dismiss="modal">x</button>
            </div>
        <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Editar Baja de <strong>"{{baja.primer_nombre}} {{baja.segundo_nombre}} {{baja.apellidos}}"</strong></p>
                </div>
                <div>
                    <label for="fecha_baja_id">Fecha:</label>
                    <input type="text" id="fecha_baja_id" name="fecha_baja" class="form-control" value="{{ baja.fecha_baja|date:"d/m/Y" }}">
                </div>
                
                <div>
                    <label for="causa_baja_id">Causa:</label>
                    <select class="custom-select" name="causa_baja" id="causa_baja_id">
                        <option value="" {{ baja.motivo_baja|default_if_none:"selected" }}>---------</option>
                        {% for motivo in motivos %}
                            <option value="{{ motivo.key }}"
                                    {% if motivo.key == baja.motivo_baja %}selected{% endif %}>
                                {{ motivo.value }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-lg-12 text-right">
                <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancelar
                </button>
            </div>
        </div>
        </form>
        
    </div>
</div>
<script>
    $('#fecha_baja_id').prop("readonly", true).datepicker({
    uiLibrary: 'bootstrap4',
    iconsLibrary: 'font-awesome',
    language: 'es'
});





</script>
