SELECT "ges_trab_trabajador"."id",
"ges_trab_trabajador"."primer_nombre", "ges_trab_trabajador"."segundo_nombre",
"ges_trab_trabajador"."apellidos", "ges_trab_trabajador"."ci",
"ges_trab_trabajador"."foto", "ges_trab_trabajador"."sexo", "ges_trab_trabajador"."motivo_alta",
"ges_trab_trabajador"."etnia", "ges_trab_trabajador"."lugar_nacimiento",
"ges_trab_trabajador"."estatura", "ges_trab_trabajador"."peso", "ges_trab_trabajador"."nombre_madre",
"ges_trab_trabajador"."nombre_padre", "ges_trab_trabajador"."estado_civil",
"ges_trab_trabajador"."hijos", "ges_trab_trabajador"."licencia", "ges_trab_trabajador"."enfermedades",
"ges_trab_trabajador"."direccion", "ges_trab_trabajador"."telefono", "ges_trab_trabajador"."fecha_nac",
"ges_trab_trabajador"."org_plantilla", "ges_trab_trabajador"."unidad_org_id",
"ges_trab_trabajador"."departamento_id", "ges_trab_trabajador"."cargo_id",
"ges_trab_trabajador"."codigo_interno", "ges_trab_trabajador"."usuario",
"ges_trab_trabajador"."residencia", "ges_trab_trabajador"."categoria",
"ges_trab_trabajador"."t_plantilla", "ges_trab_trabajador"."t_contrato",
"ges_trab_trabajador"."fuerza_i", "ges_trab_trabajador"."t_pago", "ges_trab_trabajador"."s_pago",
"ges_trab_trabajador"."j_laboral", "ges_trab_trabajador"."escala_salarial_id",
"ges_trab_trabajador"."salario_escala", "ges_trab_trabajador"."incre_res",
"ges_trab_trabajador"."sal_bas", "ges_trab_trabajador"."por_cies",
"ges_trab_trabajador"."cies", "ges_trab_trabajador"."sal_plus",
"ges_trab_trabajador"."sal_cond_anor", "ges_trab_trabajador"."por_anti",
"ges_trab_trabajador"."antiguedad", "ges_trab_trabajador"."fecha_contrato",
"ges_trab_trabajador"."fecha_alta", "ges_trab_trabajador"."fecha_disponible",
"ges_trab_trabajador"."fecha_ingreso", "ges_trab_trabajador"."albergado",
"ges_trab_trabajador"."cat_cient", "ges_trab_trabajador"."sal_cat_cient",
"ges_trab_trabajador"."salario_total", "ges_trab_trabajador"."salario_jornada_laboral",
"ges_trab_trabajador"."actividad_id", "ges_trab_trabajador"."calificacion_id",
"ges_trab_trabajador"."especialidad_id", "ges_trab_trabajador"."anno_graduado",
"ges_trab_trabajador"."centro_graduacion", "ges_trab_trabajador"."pais_graduacion",
"ges_trab_trabajador"."escolaridad", "ges_trab_trabajador"."idioma",
"ges_trab_trabajador"."orga_defensa", "ges_trab_trabajador"."unidad_militar",
"ges_trab_trabajador"."estado_mayor", "ges_trab_trabajador"."a_mision",
"ges_trab_trabajador"."militancia", "ges_trab_trabajador"."org_masas",
"ges_trab_trabajador"."org_prof", "ges_trab_trabajador"."org_cult",
"ges_trab_trabajador"."zapato", "ges_trab_trabajador"."saya", "ges_trab_trabajador"."blusa",
"ges_trab_trabajador"."pullover", "ges_trab_trabajador"."pitusa", "ges_trab_trabajador"."camisa",
"ges_trab_trabajador"."derecho", "ges_trab_trabajador"."fecha_baja",
"ges_trab_trabajador"."motivo_baja",
"adm_departamento"."id", "adm_departamento"."codigo", "adm_departamento"."nombre",
"adm_departamento"."unidad_id", "adm_departamento"."seccion_id", "adm_departamento"."dirige_id",
"adm_cargo"."id", "adm_cargo"."codigo", "adm_cargo"."nombre",
"adm_especialidad"."id", "adm_especialidad"."calificacion_id",
"adm_especialidad"."codigo", "adm_especialidad"."nombre"
FROM "ges_trab_trabajador"
    INNER JOIN "adm_departamento" ON ("ges_trab_trabajador"."departamento_id" = "adm_departamento"."id")
    INNER JOIN "adm_cargo" ON ("ges_trab_trabajador"."cargo_id" = "adm_cargo"."id")
    LEFT OUTER JOIN "adm_especialidad" ON ("ges_trab_trabajador"."especialidad_id" = "adm_especialidad"."id")
WHERE ("ges_trab_trabajador"."fecha_baja" IS NULL AND
    "ges_trab_trabajador"."fecha_contrato" BETWEEN 2019-01-01 AND 2019-12-31)
ORDER BY "ges_trab_trabajador"."fecha_contrato" ASC
