{% extends "base.html" %}
{% load static i18n %}
{% block title %}Reporte Plantilla Recién Graduados{% endblock %}
{% block styles %}
    <style type="text/css">
        th {
            padding: 10px 5px !important;
        }
        .btn-green{background-color:#388e3c!important;color:#fff!important}
        .btn-green:hover{background-color:#3fa044}
    </style>
{% endblock %}
{% block migas %}
    <ol class="breadcrumb" style="margin-top: 56px; opacity: 0.9; position: fixed;
    top: 0; right: 0; left: 0; z-index: 1000;">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Vista previa Reporte Plantilla Recién Graduados</li>
    </ol>
{% endblock %}
{% block content %}
    <div class=content align="center" style="font-size: small;"><h5><strong>Plantilla de Recién Graduados</strong></h5>
    </div>
    <div class="text-right" style="color: white;">
        <a href="{% url 'exportarReportePlantillaGraduados' %}" class="btn btn-sm btn-success" style="font-size: small">
            <i class="fa fa-download"></i> Exportar a PDF
        </a>
        <a class="btn btn-sm btn-green waves-effect px-3 export" id="excel_btn" target="_blank" type="text/csv">
            EXCEL
        </a>
    </div>
    <p></p>
    <div class="row">
        <div class="col-lg-12">
            <table class="display table table-striped" cellspacing="0" id="tabla_report">
                <thead>
                <tr>
                    <th>Area</th>
                    <th>Cargo</th>
                    <th>Cat. Oc.</th>
                    <th>Nombre y Apellidos</th>
                    <th>Sexo</th>
                    <th>Exped. Laboral</th>
                    <th>Niv Educ.</th>
                    <th>Grupo Esc.</th>
                    <th>Total Salario</th>
                    <th>Sal. Escala</th>
                    <th>Sal. Jor 240/260</th>
                    <th>Incr Res30</th>
                    <th>Coef CIES</th>
                    <th>Antig</th>
                    <th>Fecha Alta</th>
                </tr>
                </thead>
                <tbody>
                {% for uni in unidades %}
                    <tr>
                        <td colspan="15" style="font-weight: bold; text-align: left">{{ uni.nombre }}</td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                    </tr>
                    {% for dep in uni.departamentos %}
                        <tr>
                            <td colspan="15" style="font-weight: bold; text-align: left; padding-left: 30px !important;">
                                {{ dep.nombre }}
                            </td>
                            <td style="display: none"></td>
                            <td style="display: none"></td>
                            <td style="display: none"></td>
                            <td style="display: none"></td>
                            <td style="display: none"></td>
                            <td style="display: none"></td>
                            <td style="display: none"></td>
                            <td style="display: none"></td>
                            <td style="display: none"></td>
                            <td style="display: none"></td>
                            <td style="display: none"></td>
                            <td style="display: none"></td>
                            <td style="display: none"></td>
                            <td style="display: none"></td>
                        </tr>
                        {% for trab in dep.trabajadores %}
                            <tr>
                                <td></td>
                                <td>{{ trab.data.nombreCargo }}</td>
                                <td>{{ trab.data.categoria }}</td>
                                <td>{{ trab.data.nombre }} {{ trab.data.segundo_nombre }} {{ trab.data.apellidos }}</td>
                                <td>{{ trab.data.sexo }}</td>
                                <td>{{ trab.data.ci }}</td>
                                <td>{{ trab.data.escolaridad }}</td>
                                <td>{{ trab.data.grupoEscala }}</td>
                                {% language 'en' %}
                                <td>{{ trab.data.salario_total }}</td>
                                <td>{{ trab.data.salario_escala }}</td>
                                <td>{% if trab.data.j_laboral %}{{ trab.data.salario_jornada_laboral }}{% else %}0.00{% endif %}</td>
                                <td>{{ trab.data.incre_res }}</td>
                                <td>{{ trab.data.cies }}</td>
                                <td>{{ trab.data.antiguedad }}</td>
                                {% endlanguage %}
                                <td>{{ trab.data.fecha_contrato|date:"d/m/Y" }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
            <h5 style="text-align: right">Existen en total {{ cant_registros_bd }} registros en la Base de Datos</h5>
        </div>
    </div>

    <div id="popup" class="modal fade" role="dialog"></div>
{% endblock %}
{% block javascript %}{% endblock %}
