{% extends 'layouts/_base_list_datatable.html' %}
{% load sge_url sge_inclusion %}

{% block delete_error_message %}
    Imposible eliminar Actividad
{% endblock %}

{% block table_header %}
    <th>Código</th>
    <th>Nombre</th>
    <th>Tipo Actividad</th>
    <th>Temática</th>
    <th>Fecha Inicio</th>
    <th>Fecha Fin</th>
{% endblock table_header %}

{% block table_body %}
    <td>{{ item.codigo }}</td>
    <td>{{ item.nombre }}</td>
    <td>{% if item.tipo_actividad != None %}{{ item.tipo_actividad }}{% endif %}</td>
    <td>{% if item.tematica != None %}{{ item.tematica }}{% endif %}</td>
    <td data-sort="{{item.fecha_inicio|date:'Ymd'}}">{{ item.fecha_inicio|date:"d/m/Y" }}</td>
    <td data-sort="{{item.fecha_term|date:'Ymd'}}">{{ item.fecha_term|date:"d/m/Y" }}</td>
    {% submit_row %}
{% endblock table_body %}

{% block table_foot %}
    <th>Código</th>
    <th>Nombre</th>
    <th>Tipo Actividad</th>
    <th>Temática</th>
    <th>Fecha Inicio</th>
    <th>Fecha Fin</th>
{% endblock table_foot %}
