{% extends 'layouts/_base_list_datatable.html' %}
{% load sge_url sge_inclusion %}

{% block delete_error_message %}
    Imposible eliminar Actividad
{% endblock %}

{% block table_header %}
    <th style="width: 6%">Código</th>
    <th style="width: 10%">Nombre</th>
    <th style="width: 10%">Tipo Actividad</th>
    <th style="width: 8%">Temática</th>
    <th style="width: 6%">Fecha Inicio</th>
    <th style="width: 6%">Fecha Fin</th>
{% endblock table_header %}

{% block table_body_outside %}
    <tr>
    <td style="width: 6%">{{ item.codigo }}</td>
    <td style="width: 10%">{{ item.nombre }}</td>
    <td style="width: 10%">{{ item.tipo_actividad }}</td>
    <td style="width: 8%">{% if item.tematica != None %}{{ item.tematica }}{% endif %}</td>
    <td style="width: 6%">{{ item.fecha_inicio|date:"d/m/Y" }}</td>
    <td style="width: 6%">{{ item.fecha_term|date:"d/m/Y" }}</td>
    {% submit_row %}
    </tr>
{% endblock table_body_outside %}

{% block table_foot %}
    <th>Código</th>
    <th>Nombre</th>
    <th>Tipo Actividad</th>
    <th>Temática</th>
    <th>Fecha Inicio</th>
    <th>Fecha Fin</th>
{% endblock table_foot %}
