<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if object %}
            <form role="form" action="{% url 'editarSubsidio' object.pk %}" method="post">
        {% else %}
            <form role="form" action="{% url 'adicionarSubsidio' %}" method="post">
        {% endif %}
        <div class="modal-header">
            <h6><strong>Crear / Editar Subsidio</strong></h6>
            <button type="button" class="close" data-dismiss="modal">x</button>
        </div>
        <div class="modal-body">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-5"><strong> Código:</strong>{{ form.codigo_trab }}</div>
                <div class="col-sm-2"><strong> Desde:</strong>{{ form.desde }}</div>
                <div class="col-sm-2"><strong> Hasta:</strong>{{ form.hasta }}</div>
                <div class="col-sm-2"><strong> Emitido:</strong>{{ form.fecha }}</div>
                <div class="col-sm-1"><strong> Inicial</strong>{{ form.inicial }}</div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4"><strong> Centro Asistencial:</strong>{{ form.centro }}</div>
                <div class="col-sm-4"><strong> Médico:</strong>{{ form.medico }}</div>
                <div class="col-sm-4"><strong> Diagnóstico:</strong>{{ form.diagnostico }}</div>
            </div>
            <br>
            <div class="row">

                <div class="col-sm-2"><strong> %:</strong>{{ form.por_ciento }}</div>
                <div class="col-sm-2"><strong> Días:</strong>{{ form.dias }}</div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-lg-12 text-right">
                <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
                <button type="button" class="btn btn-danger" onclick="return cerrar_modal()">
                    Cancelar
                </button>
            </div>
        </div>
        </form>
    </div>
    <script type="text/javascript">
        $('#id_desde').prop("readonly", true).datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'font-awesome',
            language: 'es'
        });
        $('#id_hasta').prop("readonly", true).datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'font-awesome',
            language: 'es'
        });
        $('#id_fecha').prop("readonly", true).datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'font-awesome',
            language: 'es'
        });
    </script>
</div>