{% extends "base_pren15.html" %}
{% load static %}
{% block title %}Gestionar Objeto{% endblock %}
{% block styles %}
    <style type="text/css">
        #tabla_objeto_paginate a:hover {
            background-color: #007bff !important;
            color: white;
            border: solid 1px;
            border-color: #0062cc !important;
            transition: color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out, border .25s ease-in-out;
        }

        td, th {
            padding: 2px !important;
        }

        .has-error {
            border-color: #dc3545;
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
        }

        div.container {
            max-width: 1200px
        }
    </style>
{% endblock %}
{% block content %}
    <!-- Page Content Holder -->
    <div id="content" style="padding-top: 100px;">

        <div class=content align="center"><h5 style="font-weight: bold">Gestionar Objeto</h5></div>
        <div class="container" role="main" style=" margin-left: 0; font-size: smaller">
            <div class="text-right" style="color: white;">
              {% if add %} <!-- Aqui se verifica si el usuario tiene permiso de adicionar Objeto -->
                <a id="addButtonObjeto" class="btn btn-sm btn-success" style="font-size: smaller; font-weight: bold">
                <i class="fa fa-plus"></i> Adicionar</a>
              {% endif %}
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <table id="tabla_objeto" class="display" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th style="width: auto">Nombre de la Obra</th>
                            <th style="text-align: center; width: 100px">Código</th>
                            <th style="width: 350px">Nombre del Objeto</th>
                            <th style="text-align: center; width: 60px">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in list_obj %}
                            <tr>
                                <td>{{ i.obra.orden_trab.descripcion_ot }}</td>
                                <td align="center">{{ i.codigo }}</td>
                                <td style="text-align: left">{{ i.nombre }}</td>
                                <td width="60">
                                    <div class="icon-acciones" align="center">
                                     {% if change %} <!-- Aqui se verifica si el usuario tiene permiso de editar Objeto -->
                                        <a href="{% url 'editarObjeto' i.pk %}"
                                           class="badge badge-pill badge-primary">
                                            <i class="fa fa-edit" title="Editar Objeto"
                                               style="color: white;"></i>
                                        </a>
                                     {% endif %}
                                     {% if delete %} <!-- Aqui se verifica si el usuario tiene permiso de eliminar Objeto -->
                                        <a onclick=" return abrir_modal('{% url 'eliminarObjeto' i.pk %}')"
                                           class="badge badge-pill badge-danger">
                                            <i class="fa fa-trash-o" title="Eliminar Objeto"
                                               style="color: white;"></i>
                                        </a>
                                     {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <th style="padding: 6px 6px !important;">Nombre de Obra</th>
                        <th style="padding: 6px 6px !important;">Código</th>
                        <th style="padding: 6px 6px !important;">Objeto</th>
                        <td></td>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="popup" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                {% if errores %}
                    <div class="alert alert-dismissable alert-danger fade show">
                        <button style="margin-left: 20px;" type="button" class="close" data-dismiss="alert"
                                aria-hidden="true"><strong> &times;</strong></button>
                        <strong>Error:</strong> {{ errores }}
                    </div>
                {% endif %}
                {% if success %}
                    <div class="alert alert-success alert-dismissable fade show">
                        <button style="margin-left: 20px;" type="button" class="close" data-dismiss="alert"
                                aria-hidden="true"><strong> &times;</strong></button>
                        <strong>Congratulations:</strong> {{ success }}
                    </div>
                {% endif %}
                {% if warning %}
                    <div class="alert alert-warning alert-dismissable fade show">
                        <button style="margin-left: 20px;" type="button" class="close" data-dismiss="alert"
                                aria-hidden="true"><strong> &times;</strong></button>
                        <strong>Alert:</strong> {{ warning }}
                    </div>
                {% endif %}
                {% if edit %}
                    <form id="formularioObjeto" role="form" action="{% url 'editarObjeto' edit %}" method="post">
                {% else %}
                    <form id="formularioObjeto" role="form" action="{% url 'adicionarObjeto' %}" method="post">
                {% endif %}
                <div class="modal-header">
                    <h6 style="font-weight: bold">Crear / Editar Objeto</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body mio">
                    {% csrf_token %}
                    <div class="panel panel-default">

                        <div class="row">
                            <div class="col-sm-12"><strong> Obra:</strong>{{ form.obra }}</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3"><strong> Código:</strong>{{ form.codigo }}</div>
                            <div class="col-sm-9"><strong> Nombre:</strong>{{ form.nombre }}</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-12 text-right" style="font-size: smaller">
                        <input id="enviar" type="submit" class="btn btn-sm btn-primary" name="submit" value="Guardar"
                               style="font-weight: bold">
                        <button type="button" class="btn btn-sm btn-danger" onclick="return cerrar_modal()"
                                style="font-weight: bold">
                            Cancelar
                        </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="delete" class="modal fade" role="dialog"></div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $('#addButtonObjeto').click(function () {
            $('#popup form').prop('action', '/pren/adicionar_objeto/');
            $('#popup').modal('show');

        });
        {% if errores or success or warning or edit %}
            $('#popup').modal('show');
        {% endif %}

        exp_codigo = "^[0-9]{2}$";
        exp_nombre = "^([A-ZÁ]{1})[A-Za-z0-9áéíóúñ .,]+$";
        $('#id_codigo').prop("title", 'Este campo solo acepta valores numéricos').attr("oninvalid",
            'setCustomValidity("Campo obligatorio. Solo acepta valores numéricos")');
        $('#id_nombre').prop("title", 'Este campo no permite caracteres especiales y comienza con mayúscula').attr("oninvalid", 'setCustomValidity("Campo obligatorio.Empieza con mayúscula y no acepta caracteres especiales")');

        function validarCodigo() {
            if ($('#id_codigo')[0].value.match(exp_codigo)) {
                $('#id_codigo').removeClass('has-error');
                return true;
            } else {
                $('#id_codigo').addClass('has-error');
                return false;
            }
        }

        function validarNombre() {
            if ($('#id_nombre')[0].value.match(exp_nombre)) {
                $('#id_nombre').removeClass('has-error');
                return true;
            } else {
                $('#id_nombre').addClass('has-error');
                return false;
            }
        }

        function validarFormulario() {
            if (validarCodigo() && validarNombre()) {
                $('#enviar').removeAttr('disabled');
            } else {
                $('#enviar').attr('disabled', '');
            }
        }

        $("#formularioObjeto").on('keyup', function () {
            validarFormulario();
        });

        $(document).ready(function () {
            validarFormulario();
        });

        $(document).ready(function () {
            // DataTable
            var table = $('#tabla_objeto').DataTable({
                "language": {
                    processing: "Procesando...",
                    search: "Buscar:",
                    lengthMenu: "Mostrar _MENU_ registros",
                    info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    infoFiltered: "(filtrado de un total de _MAX_ registros)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron resultados",
                    emptyTable: "Ningún dato disponible en esta tabla",
                    paginate: {
                        first: "Último",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Último"
                    }
                },

            });
            // Setup - add a text input to each footer cell
            $('#tabla_objeto').find('tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input class="form-control" type="text" style="font-size: smaller" placeholder="Buscar ' + title + '"/>');
            });

            // Apply the search
            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });
    </script>
{% endblock %}

