{% extends "base_principal.html" %}
{% load sge_perms %}
{% block content %}
    <style type="text/css">
        a:active, a:active * {
        {# quita el borde de punticos alrededor del link visitado #} outline: none;
        }

        a:focus, a:focus * {
        {# quita el borde de punticos alrededor del link visitado #} outline: none;
        }
    </style>
    <div class="wrapper">
        <!-- Sidebar Holder -->

        <!-- Page Content Holder -->
        <div id="content" style="padding-top: 90px;">
            <div class="row">
                {% if user|has_module_perm:'adm' or user|has_module_perm:'ges_trab' or user|has_module_perm:'ausentismo' or user|has_module_perm:'datos_prenom' or user|has_module_perm:'plantilla' or user|has_module_perm:'subsidio' %}
                    <div class="col-3">
                        <a href="{% url "home" %}">
                            <div class="card"
                                 style="text-align: center; margin-bottom: 10px; background-color:lightskyblue; font-weight: bold">
                                <i class="fa fa-users"
                                   style="font-size: 40px; text-align: center; margin-top: 20px;"></i>
                                <div class="card-body">
                                    <span>CAPITAL HUMANO</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% comment %}
                        <div class="card" title="Usted no posee permisos para el módulo de Capital Humanos"
                             style="text-align: center; margin-bottom: 10px; background-color:lightskyblue; font-weight: bold">
                            <i class="fa fa-users" style="font-size: 40px; text-align: center; margin-top: 20px;"></i>
                            <div class="card-body">
                                <span>CAPITAL HUMANO</span>
                            </div>
                        </div>
                    {% endcomment %}
                {% endif %}
                {% if user|has_module_perm:'prenomina15' %}
                    <div class="col-3">
                        <a href="{% url "home_pren15" %}">
                            <div class="card"
                                 style="text-align: center; margin-bottom: 10px; background-color:lightgreen; font-weight: bold">
                                <i class="fa fa-files-o"
                                   style="font-size: 40px; text-align: center; margin-top: 20px;"></i>
                                <div class="card-body">
                                    <span>PRENÓMINA 15</span>
                                </div>
                            </div>
                        </a>
                        {% comment %}
                            <div class="card" title="Usted no posee permisos para el módulo de PRENÓMINA 15"
                                 style="text-align: center; margin-bottom: 10px; background-color:lightgreen; font-weight: bold">
                                <i class="fa fa-files-o"
                                   style="font-size: 40px; text-align: center; margin-top: 20px;"></i>
                                <div class="card-body">
                                    <span>PRENÓMINA 15</span>
                                </div>
                            </div>
                        {% endcomment %}
                    </div>
                {% endif %}
                {% if user|has_module_perm:'entrada_datos' %}
                    <div class="col-3">
                        <a href="{% url 'home_ent_dat' %}">
                            <div class="card"
                                 style="text-align: center; margin-bottom: 10px; background-color: pink; font-weight: bold">
                                <i class="fa fa-list"
                                   style="font-size: 40px; text-align: center; margin-top: 20px;"></i>
                                <div class="card-body">
                                    <span>ENTRADA DATOS</span>
                                </div>
                            </div>
                        </a>
                        {% comment %}
                            <div class="card" title="Usted no posee permisos para el módulo de ENTRADA DATOS"
                                 style="text-align: center; margin-bottom: 10px; background-color: pink; font-weight: bold">
                                <i class="fa fa-list"
                                   style="font-size: 40px; text-align: center; margin-top: 20px;"></i>
                                <div class="card-body">
                                    <span>ENTRADA DATOS</span>
                                </div>
                            </div>
                        {% endcomment %}
                    </div>
                {% endif %}
                {% if user|has_module_perm:'pr3' %}
                    <div class="col-3">
                        <a href="{% url 'home_pr3' %}">
                            <div class="card"
                                 style="text-align: center; margin-bottom: 10px; background-color: lightgoldenrodyellow; font-weight: bold">
                                <i class="fa fa-calendar"
                                   style="font-size: 40px; text-align: center; margin-top: 20px;"></i>
                                <div class="card-body">
                                    <span>PR3</span>
                                </div>
                            </div>
                        </a>
                        {% comment %}
                            <div class="card" title="Usted no posee permisos para el módulo de PR3"
                                 style="text-align: center; margin-bottom: 10px; background-color: lightgoldenrodyellow; font-weight: bold">
                                <i class="fa fa-calendar"
                                   style="font-size: 40px; text-align: center; margin-top: 20px;"></i>
                                <div class="card-body">
                                    <span>PR3</span>
                                </div>
                            </div>
                        {% endcomment %}
                    </div>
                {% endif %}
                {% comment %}
                <div class="col-3">
                    <a href="#">
                        <div class="card"
                             style="text-align: center; margin-bottom: 10px;font-weight: bold; background-color:lightgray">
                            <i class="fa fa-shopping-bag"
                               style="font-size: 40px; text-align: center; margin-top: 20px;"></i>
                            <div class="card-body">
                                <span>VENTAS</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a href="#">
                        <div class="card"
                             style="text-align: center; margin-bottom: 10px; background-color: plum; font-weight: bold">
                            <i class="fa fa-check-square-o"
                               style="font-size: 40px; text-align: center; margin-top: 20px;"></i>
                            <div class="card-body">
                                <span>FACTURACIÓN</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a href="#">
                        <div class="card"
                             style="text-align: center; margin-bottom: 10px;font-weight: bold;background-color: lightcoral">
                            <i class="fa fa-credit-card"
                               style="font-size: 40px; text-align: center; margin-top: 20px;"></i>
                            <div class="card-body">
                                <span>COSTO</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a href="#">
                        <div class="card"
                             style="text-align: center; margin-bottom: 10px; font-weight: bold; background-color: lightsalmon">
                            <i class="fa fa-file-text-o"
                               style="font-size: 40px; text-align: center; margin-top: 20px;"></i>
                            <div class="card-body">
                                <span>CONINSU</span>
                            </div>
                        </div>
                    </a>
                </div>
                {% endcomment %}
                {% if user|has_module_perm:'adm' or user|has_module_perm:'ges_trab' or user|has_module_perm:'ausentismo' or user|has_module_perm:'datos_prenom' or user|has_module_perm:'plantilla' or user|has_module_perm:'subsidio' %}
                    <div class="col-3">
                        <a href="{% url "rechum_home" %}">
                            <div class="card"
                                 style="text-align: center; margin-bottom: 10px; background-color:#7c6ecd; font-weight: bold">
                                <i class="fa fa-users"
                                   style="font-size: 40px; text-align: center; margin-top: 20px;"></i>
                                <div class="card-body">
                                    <span>CAPITAL HUMANO (new)</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% comment %}
                        <div class="card" title="Usted no posee permisos para el módulo de Capital Humanos"
                             style="text-align: center; margin-bottom: 10px; background-color:lightskyblue; font-weight: bold">
                            <i class="fa fa-users" style="font-size: 40px; text-align: center; margin-top: 20px;"></i>
                            <div class="card-body">
                                <span>CAPITAL HUMANO</span>
                            </div>
                        </div>
                    {% endcomment %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
