{% extends 'layouts/crud/_base_create-update.html' %}
{% load static widget_tweaks %}

{% block styles %}
    {{ block.super }}
    {#    <link rel="stylesheet" href="{% static 'plugins/bootstrap-imageupload/bootstrap-imageupload.min.css' %}?v=2"/>#}
    <link rel="stylesheet" href="{% static 'plugins/jquery-steps/jquery.steps.css' %}"/>
    <style>
        #foto-container {
            display: flex;
        }

        .thumbnail {
            padding: 4px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 50%;
            -webkit-transition: border .2s ease-in-out;
            -o-transition: border .2s ease-in-out;
            transition: border .2s ease-in-out;
            width: 100%;
        }

        ul.nav.nav-tabs > .nav-item.nav-link {
            text-shadow: none;
            color: #0d638f;
            background-color: #eee;
            margin-left: auto;
            margin-right: auto;
        }

        .tab-active {
            background-color: #35aa47 !important;
            color: #fff !important;
        }

        .tab-done {
            background-color: #f2ae43 !important;
            color: #fff !important;
        }
    </style>
{% endblock styles %}

{% block complete_form %}
    {{ form.non_field_errors }}
    <div id="nav-steps">
        <h5>Datos personales</h5>
        <section>
            <div class="row">
                <div class="col-lg-2 col-12 imageupload panel panel-default" id="foto-container">
                    <img id="orto"
                         alt="Imagen Perfil" class="img-perfil thumbnail m-auto"
                         src="{% if form.foto.value %}
                                /static/media/{{ form.foto.value }}{% else %}
                                {% static 'images/default-user.png' %}{% endif %}">
                    <div class="file-tab panel-body m-auto">
                        <img src="" id="preview" alt="Imagen Perfil Vista Previa" class="thumbnail m-auto"
                             style="display:none">
                        <label hidden class="btn btn-default btn-file">
                            {{ form.foto }}
                        </label>
                    </div>
                </div>
                <div class="col-lg-10 col-12">
                    <div class="row">
                        <div class="col-lg-3 col-12">
                            {{ form.primer_nombre.label_tag }}
                            {{ form.primer_nombre }}
                            {{ form.primer_nombre.errors }}
                        </div>
                        <div class="col-lg-3 col-12">
                            {{ form.segundo_nombre.label_tag }}
                            {{ form.segundo_nombre }}
                            {{ form.segundo_nombre.errors }}
                        </div>
                        <div class="col-lg-6 col-12">
                            {{ form.apellidos.label_tag }}
                            {{ form.apellidos }}
                            {{ form.apellidos.errors }}
                        </div>
                        <div class="col-lg-3 col-6">
                            {{ form.etnia.label_tag }}
                            {{ form.etnia }}
                            {{ form.etnia.errors }}
                        </div>
                        <div class="col-lg-3 col-6">
                            {{ form.sexo.label_tag }}
                            {{ form.sexo }}
                            {{ form.sexo.errors }}
                        </div>
                        <div class="col-lg-3 col-6">
                            {{ form.peso.label_tag }}
                            <div class="input-group">
                                {{ form.peso }}
                                <div class="input-group-append">
                                    <div class="input-group-text">kg</div>
                                </div>
                            </div>
                            {{ form.peso.errors }}
                        </div>
                        <div class="col-lg-3 col-6">
                            {{ form.estatura.label_tag }}
                            <div class="input-group">
                                {{ form.estatura }}
                                <div class="input-group-append">
                                    <div class="input-group-text">m</div>
                                </div>
                            </div>
                            {{ form.estatura.errors }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.ci.label_tag }}
                    {{ form.ci }}
                    {{ form.ci.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.lugar_nacimiento.label_tag }}
                    {{ form.lugar_nacimiento }}
                    {{ form.lugar_nacimiento.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.residencia.label_tag }}
                    {{ form.residencia }}
                    {{ form.residencia.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.estado_civil.label_tag }}
                    {{ form.estado_civil }}
                    {{ form.estado_civil.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.hijos.label_tag }}
                    {{ form.hijos }}
                    {{ form.hijos.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.nombre_padre.label_tag }}
                    {{ form.nombre_padre }}
                    {{ form.nombre_padre.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.nombre_madre.label_tag }}
                    {{ form.nombre_madre }}
                    {{ form.nombre_madre.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.telefono.label_tag }}
                    {{ form.telefono }}
                    {{ form.telefono.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.licencia.label_tag }}
                    {{ form.licencia }}
                    {{ form.licencia.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.usuario.label_tag }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        {{ form.usuario }}
                    </div>
                    {{ form.usuario.errors }}
                </div>
                <div class="col-lg-6 col-12">
                    {{ form.direccion.label_tag }}
                    {{ form.direccion }}
                    {{ form.direccion.errors }}
                </div>
            </div>
        </section>
        <h5>Datos laborales</h5>
        <section>
            <div class="row">
                <div class="col-lg-3 col-6">
                    {{ form.codigo_interno.label_tag }}
                    {{ form.codigo_interno }}
                    {{ form.codigo_interno.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.unidad_org.label_tag }}
                    {{ form.unidad_org }}
                    {{ form.unidad_org.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.departamento.label_tag }}
                    {{ form.departamento }}
                    {{ form.departamento.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.cargo.label_tag }}
                    {{ form.cargo }}
                    {{ form.cargo.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.org_plantilla.label_tag }}
                    {{ form.org_plantilla }}
                    {{ form.org_plantilla.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.categoria.label_tag }}
                    {{ form.categoria }}
                    {{ form.categoria.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.t_plantilla.label_tag }}
                    {{ form.t_plantilla }}
                    {{ form.t_plantilla.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.t_contrato.label_tag }}
                    {{ form.t_contrato }}
                    {{ form.t_contrato.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.fuerza_i.label_tag }}
                    {{ form.fuerza_i }}
                    {{ form.fuerza_i.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.t_pago.label_tag }}
                    {{ form.t_pago }}
                    {{ form.t_pago.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.s_pago.label_tag }}
                    {{ form.s_pago }}
                    {{ form.s_pago.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.escala_salarial.label_tag }}
                    {{ form.escala_salarial }}
                    {{ form.escala_salarial.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.por_cies.label_tag }}
                    {{ form.por_cies }}
                    {{ form.por_cies.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.por_anti.label_tag }}
                    {{ form.por_anti }}
                    {{ form.por_anti.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.cat_cient.label_tag }}
                    {{ form.cat_cient }}
                    {{ form.cat_cient.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.sal_plus.label_tag }}
                    {{ form.sal_plus }}
                    {{ form.sal_plus.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.sal_cond_anor.label_tag }}
                    {{ form.sal_cond_anor }}
                    {{ form.sal_cond_anor.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.fecha_contrato.label_tag }}
                    {{ form.fecha_contrato }}
                    {{ form.fecha_contrato.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.fecha_alta.label_tag }}
                    {{ form.fecha_alta }}
                    {{ form.fecha_alta.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.fecha_disponible.label_tag }}
                    {{ form.fecha_disponible }}
                    {{ form.fecha_disponible.errors }}
                </div>
                <div class="col-lg-3 col-6">
                    {{ form.fecha_ingreso.label_tag }}
                    {{ form.fecha_ingreso }}
                    {{ form.fecha_ingreso.errors }}
                </div>
                <div class="col-lg-6 col-12">
                    {{ form.motivo_alta.label_tag }}
                    {{ form.motivo_alta }}
                    {{ form.motivo_alta.errors }}
                </div>
                <div class="col-lg-3 col-12">
                    <div class="form-check-inline pt-3">
                        <label class="form-check-label">
                            {% render_field form.albergado class="form-check-input" %} {{ form.albergado.label }}
                        </label>
                        {{ form.albergado.errors }}
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            {% render_field form.j_laboral class="form-check-input" %} {{ form.j_laboral.label }}
                        </label>
                        {{ form.j_laboral.errors }}
                    </div>
                </div>
            </div>
        </section>
        <h5>Datos docentes</h5>
        <section>
            <div class="row">
                <div class="col-lg-3 col-12">
                    {{ form.escolaridad.label_tag }}
                    {{ form.escolaridad }}
                    {{ form.escolaridad.errors }}
                </div>
                <div class="col-lg-3 col-12">
                    {{ form.calificacion.label_tag }}
                    {{ form.calificacion }}
                    {{ form.calificacion.errors }}
                </div>
                <div class="col-lg-3 col-12">
                    {{ form.especialidad.label_tag }}
                    {{ form.especialidad }}
                    {{ form.especialidad.errors }}
                </div>
                <div class="col-lg-3 col-12">
                    {{ form.actividad.label_tag }}
                    {{ form.actividad }}
                    {{ form.actividad.errors }}
                </div>
                <div class="col-lg-3 col-12">
                    {{ form.centro_graduacion.label_tag }}
                    {{ form.centro_graduacion }}
                    {{ form.centro_graduacion.errors }}
                </div>
                <div class="col-lg-3 col-12">
                    {{ form.anno_graduado.label_tag }}
                    {{ form.anno_graduado }}
                    {{ form.anno_graduado.errors }}
                </div>
                <div class="col-lg-3 col-12">
                    {{ form.pais_graduacion.label_tag }}
                    {{ form.pais_graduacion }}
                    {{ form.pais_graduacion.errors }}
                </div>
                <div class="col-lg-3 col-12">
                    {{ form.idioma.label_tag }}
                    {{ form.idioma }}
                    {{ form.idioma.errors }}
                </div>
            </div>
        </section>
        <h5>Defensa y Org.</h5>
        <section>
            <div class="row">
                <div class="col-lg-3 col-12">
                    {{ form.orga_defensa.label_tag }}
                    {{ form.orga_defensa }}
                    {{ form.orga_defensa.errors }}
                </div>
                <div class="col-lg-3 col-12">
                    {{ form.unidad_militar.label_tag }}
                    {{ form.unidad_militar }}
                    {{ form.unidad_militar.errors }}
                </div>
                <div class="col-lg-3 col-12">
                    {{ form.estado_mayor.label_tag }}
                    {{ form.estado_mayor }}
                    {{ form.estado_mayor.errors }}
                </div>
                <div class="col-lg-3 col-12">
                    {{ form.militancia.label_tag }}
                    {{ form.militancia }}
                    {{ form.militancia.errors }}
                </div>
                <div class="col-lg-3 col-12">
                    {{ form.org_masas.label_tag }}
                    {{ form.org_masas }}
                    {{ form.org_masas.errors }}
                </div>
                <div class="col-lg-3 col-12">
                    {{ form.org_prof.label_tag }}
                    {{ form.org_prof }}
                    {{ form.org_prof.errors }}
                </div>
                <div class="col-lg-3 col-12">
                    {{ form.org_cult.label_tag }}
                    {{ form.org_cult }}
                    {{ form.org_cult.errors }}
                </div>
                <div class="col-lg-3 col-12">
                    {{ form.a_mision.label_tag }}
                    {{ form.a_mision }}
                    {{ form.a_mision.errors }}
                </div>
            </div>
        </section>
        <h5>Núcleo familiar</h5>
        <section>
            <div class="row">
                Llenar inline núcleo familiar
            </div>
        </section>
        <h5>Tallas</h5>
        <section>
            <div class="row">
                <div class="col-lg-2 col-3">
                    {{ form.zapato.label_tag }}
                    {{ form.zapato }}
                    {{ form.zapato.errors }}
                </div>
                <div class="col-lg-2 col-3">
                    {{ form.saya.label_tag }}
                    {{ form.saya }}
                    {{ form.saya.errors }}
                </div>
                <div class="col-lg-2 col-3">
                    {{ form.blusa.label_tag }}
                    {{ form.blusa }}
                    {{ form.blusa.errors }}
                </div>
                <div class="col-lg-2 col-3">
                    {{ form.pullover.label_tag }}
                    {{ form.pullover }}
                    {{ form.pullover.errors }}
                </div>
                <div class="col-lg-2 col-3">
                    {{ form.pitusa.label_tag }}
                    {{ form.pitusa }}
                    {{ form.pitusa.errors }}
                </div>
                <div class="col-lg-2 col-3">
                    {{ form.camisa.label_tag }}
                    {{ form.camisa }}
                    {{ form.camisa.errors }}
                </div>
                <div class="col-lg-6 col-12">
                    <div class="form-check-inline pt-3">
                        <label class="form-check-label">
                            {% render_field form.derecho class="form-check-input" %} {{ form.derecho.label }}
                        </label>
                        {{ form.derecho.errors }}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock complete_form %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'plugins/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-steps/jquery.steps.min.js' %}"></script>
    <script>

        $(document).on('click', '.thumbnail', function () {
            $('#id_foto').click();
        });

        var allowedFileExtensions = ['jpg', 'jpeg', 'png', 'gif'];

        function isValidImageFile(file, callback) {
            if (file.size / 1024 > 2048) {
                callback(false, 'El archivo es muy grande (máximo 2048kB).');
                return;
            }

            var fileExtension = file.name.substr(file.name.lastIndexOf('.') + 1).toLowerCase();

            if ($.inArray(fileExtension, allowedFileExtensions) > -1) {
                callback(true, 'El archivo de la imagen es válido.');
            } else {
                callback(false, 'El tipo de archivo no es permitido (' + allowedFileExtensions.join(', ') + ').')
            }
        }

        $(document).on('change', '#id_foto', function (event) {
            var prevImg = $('#preview');
            var loadedImg = $('#orto');
            if (event.target.files.length === 0) {
                loadedImg.show();
                return;
            }
            var file = event.target.files[0];
            isValidImageFile(file, function (isValid, message) {
                if (isValid) {
                    var fileReader = new FileReader();
                    fileReader.onload = function (e) {
                        prevImg.attr('src', e.target.result);
                        loadedImg.hide();
                        prevImg.show();
                    };
                    fileReader.onerror = function () {
                        $('#id_foto').val('');
                    };
                    fileReader.readAsDataURL(file);
                } else {
                    alert(message);
                    $('#id_foto').val('');
                }
            });
        });
    </script>
    <script>
        $.validator.messages.required = "Este campo es requerido.";
        $(function ($) {
            var form = $('#create_update_form');
            form.validate({
                errorPlacement: function errorPlacement(error, element) {
                    element.after(error);
                },
                rules: {
                    confirm: {
                        equalTo: '#password'
                    }
                }
            });
            form.children("div").steps({
                headerTag: 'h5',
                bodyTag: 'section',
                transitionEffect: 'slideLeft',
                enableCancelButton: true,
                labels: {
                    cancel: 'CANCELAR',
                    current: 'PASO ACTUAL:',
                    pagination: 'Paninación',
                    finish: 'FINALIZAR',
                    next: 'SIGUIENTE',
                    previous: 'ANTERIOR',
                    loading: 'Cargando ...'
                },
                onStepChanging: function (event, currentIndex, newIndex) {
                    form.validate().settings.ignore = ":disabled,:hidden";
                    return form.valid();
                },
                onCanceled: function (event) {
                    $('.card-header a')[0].click();
                },
                onFinishing: function (event, currentIndex) {
                    form.validate().settings.ignore = ":disabled";
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    alert('Submitted!');
                }
            })
        })
    </script>
{% endblock javascript %}