<div class="modal-dialog" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="modal-content">
        <form role="form" action="{% url 'eliminarTrabajoExtra' object.pk %}" method="post">{% csrf_token %}
            <div class="modal-header">
                <h6><strong>Eliminar Trabajo Extraordinario</strong></h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p style="text-align: justify">¿Estás seguro que deseas eliminar el Trabajo Extraordinario asociado al trabajador
                            <strong>"{{ object.codigo_trab.primer_nombre }}
                            {{ object.codigo_trab.segundo_nombre }} {{ object.codigo_trab.apellidos }}"</strong>?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-12 text-right">
                    <input type="submit" class="btn btn-danger" name="submit" value="Eliminar">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>