{% extends "base.html" %}
{% load static %}
{% block title %}Gestionar Subsidios{% endblock %}
{% block styles %}
    <style type="text/css">
        .has-error {
            border-color: #dc3545;
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
        }
        td, th {
        padding: 1px!important;
        }
    </style>
{% endblock %}
{% block migas %}
    <ol class="breadcrumb" style="margin-top: 56px; opacity: 0.9; position: fixed;
    top: 0; right: 0; left: 0; z-index: 1000;">
        <li class="breadcrumb-item"><a href="/home/">Inicio</a></li>
        <li class="breadcrumb-item"><a href="/home/">Ausentismo</a></li>
        <li class="breadcrumb-item"><a href="/ausentismo/">Gestionar Ausentismo</a></li>
        <li class="breadcrumb-item active" aria-current="page">Gestionar Ausencias
            de {{ trab.primer_nombre }} {{ trab.segundo_nombre }} {{ trab.apellidos }}</li>
    </ol>
{% endblock %}
{% block content %}
    <div class=content align="center"><h5><strong>Gestionar Ausencias
        de {{ trab.primer_nombre }} {{ trab.segundo_nombre }} {{ trab.apellidos }}</strong></h5></div>
    <div class="container" role="main" style="font-size: small; width: 500px">
        <div class="text-right" style="color: white;"><a id="addButtonAusencia" class="btn btn-success" style="font-size: small"><i
                class="fa fa-plus"></i> Adicionar</a></div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <table class="display" cellspacing="0" width="100%" id="tabla_sub">
                    <thead>
                    <tr>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Cant. Horas</th>
                        <th class="text-center">Causal</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in list_ausencias reversed %}
                        <tr>
                            <td align="center">{{ i.fecha|date:"d/m/Y" }}</td>
                            <td align="center">{{ i.horas }}</td>
                            <td align="center">{{ i.causal }}</td>
                            <td width="60" nowrap>
                                <div class="icon-acciones" align="center">
                                    <a href="{% url 'editarAusentismo' trab.pk i.pk %}" class="badge badge-pill badge-primary">
                                        <i class="fa fa-edit" title="Editar Subsidio"
                                           style="color: white;"></i>
                                    </a>
                                    <a onclick=" return abrir_modal('{% url 'eliminarAusentismo' trab.pk i.pk %}')"
                                       class="badge badge-pill badge-danger">
                                        <i class="fa fa-trash-o" title="Eliminar Subsidio"
                                           style="color: white;"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <th>Fecha</th>
                    <th>Cant. Horas</th>
                    <th>Causal</th>
                    <td style="padding: 6px 6px !important;"></td>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div id="popup" class="modal fade" role="dialog">
        <div class="modal-dialog ">
            <div class="modal-content">
                {% if edit %}
                    <form id="formularioSub" role="form" action="{% url 'editarAusentismo' trab.pk edit %}" method="post">
                {% else %}
                    <form id="formularioSub" role="form" action="{% url 'adicionarAusentismo' %}" method="post">
                {% endif %}
                <div class="modal-header">
                    <h6><strong>Registrar ausencia a {{ trab.primer_nombre }} {{ trab.segundo_nombre }} {{ trab.apellidos }}</strong></h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body mio">
                    {% csrf_token %}
                    <div class="row">
                        <input id="user" name="codigo_trab" value="{{ trab.pk }}" type="hidden">
                        <div class="col-sm-4"><strong> Fecha:</strong>{{ form.fecha }}
                            <div style="color: red;">{{ form.fecha.errors }}</div>
                        </div>
                        <div class="col-sm-3"><strong> Horas:</strong>{{ form.horas }}
                            <div style="color: red;">{{ form.horas.errors }}</div>
                        </div>
                        <div class="col-sm-5"><strong> Causal:</strong>{{ form.causal }}
                            <div style="color: red;">{{ form.causal.errors }}</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-12 text-right">
                        <input id="enviar" type="submit" class="btn btn-primary" name="submit" value="Guardar">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                            Cancelar
                        </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="delete" class="modal fade" role="dialog"></div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        var exp1 = "^[A-Z]{1}[A-Za-z0-9áéíóúñ #]+$";
        var exp2 = "^[A-Z]{1}[A-Za-záéíóúñ ]+$";
        var exp3 = "^[0-9]{1,2}$";
        var exp4 = "^[0-9]+$";

        function validarFormulario() {
            if (validarCentro() && validarMedico() && validarDiagnostico() && validarDias() && validarRegistro()) {
                $('#enviar').removeAttr('disabled');
            } else {
                $('#enviar').attr('disabled', '');
            }
        }

        $(document).ready(function () {
            validarFormulario();
        });

        function validarCentro() {
            if ($('#id_centro')[0].value.match(exp1)) {
                $('#id_centro').removeClass('has-error');
                return true;
            } else {
                $('#id_centro').addClass('has-error');
                return false;
            }
        }

        function validarMedico() {
            if ($('#id_medico')[0].value.match(exp2)) {
                $('#id_medico').removeClass('has-error');
                return true;
            } else {
                $('#id_medico').addClass('has-error');
                return false;
            }
        }

        function validarDiagnostico() {
            if ($('#id_diagnostico')[0].value.match(exp1)) {
                $('#id_diagnostico').removeClass('has-error');
                return true;
            } else {
                $('#id_diagnostico').addClass('has-error');
                return false;
            }
        }

        function validarDias() {
            if ($('#id_dias')[0].value.match(exp3)) {
                $('#id_dias').removeClass('has-error');
                return true;
            } else {
                $('#id_dias').addClass('has-error');
                return false;
            }
        }

        function validarRegistro() {
            if ($('#id_no_reg')[0].value.match(exp4)) {
                $('#id_no_reg').removeClass('has-error');
                return true;
            } else {
                $('#id_no_reg').addClass('has-error');
                return false;
            }
        }

        $("#id_dias, #id_no_reg").on('change', function () {
            validarFormulario();
        }).on('keyup', function () {
            validarFormulario();
        });

        $("#id_centro, #id_medico, #id_diagnostico").on('keyup', function () {
            validarFormulario();
        });

    </script>
    <script type="text/javascript">
        var getDate = function (input) {
            return new Date(input.date.valueOf());
        };

        $('#id_desde').prop("readonly", true).datepicker({
            uiLibrary: 'bootstrap4',
            language: 'es'
        });

        $('#id_hasta').prop("readonly", true).datepicker({
            uiLibrary: 'bootstrap4',
            language: 'es'
        });

        $('#id_desde').datepicker({
            startDate: '+5d',
            endDate: '+35d'
        }).on('changeDate',
            function (selected) {
                $('#id_hasta').datepicker('setStartDate', getDate(selected));
                $('#id_fecha').datepicker('setStartDate', getDate(selected));
            });

        $('#id_hasta').datepicker({
            startDate: '+6d',
            endDate: '+36d'
        }).on('changeDate',
            function (selected) {
                $('#id_desde').datepicker('setEndDate', getDate(selected));
            });


        $('#id_fecha').prop("readonly", true).datepicker({
            uiLibrary: 'bootstrap4',
            language: 'es'
        });

        $('#addButtonAusencia').click(function () {
            $('#popup form').prop('action', '/adicionar_ausentismo/');
            $('#popup').modal('show');
        });
        {% if form.errors or edit %}
            $('#popup').modal('show');
        {% endif %}


        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            $('#tabla_sub tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input class="form-control" type="text" style="font-size: smaller" placeholder="Buscar ' + title + '" />');
            });

            // DataTable
            var table = $('#tabla_sub').DataTable({
                "language": {
                    processing: "Procesando...",
                    search: "Buscar:",
                    lengthMenu: "Mostrar _MENU_ registros",
                    info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    infoEmpty: "Mostrando un total de 0 registros",
                    infoFiltered: "(filtrado de un total de _MAX_ registros)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron resultados",
                    emptyTable: "Ningún dato disponible en esta tabla",
                    paginate: {
                        first: "Último",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Último"
                    }
                }
            });

            // Apply the search
            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                });
            });
        });
    </script>
{% endblock %}