{% extends 'layouts/_base_list_datatable.html' %}
{% load sge_url sge_inclusion %}

{% block delete_error_message %}
    Imposible eliminar Servicio porque tiene asociada al menos una OT
{% endblock %}

{% block table_header %}
    <th>Código</th>
    <th>Nombre</th>
{% endblock %}

{% block table_body %}
    <td style="width: 100px">{{ item.codigo }}</td>
    <td>{{ item.nombre }}</td>
    {% submit_row %}
{% endblock %}

{% block table_foot %}
    <th>Código</th>
    <th>Nombre</th>
{% endblock %}
