{% extends "base_pr3.html" %}
{% load static %}
{% block title %} Reporte PR-3 {% endblock %}
{% block styles %}
    <style type="text/css">

        td, td {
            padding: 1px !important;
            border-color: black!important;
            font-size: 12px!important;
        }
        p{
            color: black;
            font-size: smaller;
            font-style: italic;
        }

    </style>
{% endblock %}
<!-- Page Content Holder -->
<div id="content" style="padding-top: 100px;">
</div>

{% block content %}
    <!-- Page Content Holder -->
    <div id="content" style="padding-top: 100px; width: 100%; position: relative;">
        <h5 style="text-align: center"><strong>Reporte PR-3</strong></h5>
        <br>
        <div class=content align="center">
            <div class="row" style="width: 90%; position: relative">
                <div class="col-12">
                    <div class="pull-right" style="color: white; ">
                        <a href="{% url 'exportarReportePR3' %}" class="btn btn-success">
                            <i class="fa fa-download"></i><strong style="font-size: smaller">Exportar a PDF</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container" role="main" style=" margin-left: 0; width: 95%; position: relative;">
                <table class="display" border=1 style="width: 100%; position: relative">
                    <tr>
                        <th rowspan="3" style="width: 120px">
                            <p align="center"><strong>MINISTERIO DE LA CONSTRUCCIÓN </strong></p>
                            <p align="center"><strong>PRODUCCIÓN</strong></p>
                        </th>
                        <th rowspan="3" style="width: 180px">
                            <strong style="font-style: italic">PR-3</strong>
                            <p style="font-size: large; font-style: normal!important; width: 252px" align="center">
                                <strong>PLAN MENSUAL</strong>
                            </p>
                        </th>
                        <th rowspan="3" style="width: 200px"><strong>EMPRESA: VERTICE </strong></th>
                        <th colspan="2" style="width: 160px"><strong>Periodo</strong></th>
                        <th rowspan="3" style="font-style: italic;width: 60px"><strong>Hoja</strong> </th>
                    </tr>
                    <tr>
                        <th style="width: 80px"><strong>Desde:</strong></th>
                        <th style="width: 80px">{{ fecha_ini }}</th>
                    </tr>
                    <tr>
                        <th style="width: 80px"><strong>Hasta:</strong></th>
                        <th style="width: 80px">{{ fecha_fin }}</th>
                    </tr>
                </table>
                <table class="display" border=1 cellspacing=0 style="width: 100%; position: relative;
                    font-size: 12px!important;">
                    <tr>
                        <th rowspan="2" style="width: 30px; font-style: italic; text-align: center">
                            <strong>OT</strong>
                        </th>
                        <th colspan="2" style="width: 190px">
                            <strong>Proyectos u otros trabajos de Proy</strong>
                        </th>
                        <th rowspan="2" align="center" style="width: 50px; text-align: center">
                            <strong>Producción<br> Real</strong>
                        </th>
                        <th rowspan="2" style="text-align: center; width: 20px">
                            <strong>O<br>B<br>S</strong>
                        </th>
                        <th rowspan="2" align="center" style="width: 192px">
                            <strong>Ejecutores</strong>
                        </th>
                        <th rowspan="2" style="width: 35px">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </th>
                        <th colspan="2" align="center" style="width: 80px">
                            <strong>Fdo Tiempo</strong>
                        </th>
                        <th colspan="2" style=" width: 150px;text-align: center">
                            <strong>Para uso de Economía</strong>
                        </th>
                    </tr>
                    <tr>
                        <th style="width: 40px" >
                            <strong>Código</strong>
                        </th>
                        <th style=" text-align: center;font-style: italic;">
                            <strong>Nombre</strong>
                        </th>
                        <th style=" text-align: center; width: 45px"><strong>
                            Real</strong>
                        </th>
                        <th style=" text-align: center; width: 45px"><strong>
                            Extra</strong>
                        </th>
                        <th style=" width: 90px; text-align: center"><strong>
                            Coef Salar</strong>
                        </th>
                        <th style=" width: 70px; text-align: center"><strong>
                            Importe</strong>
                        </th>
                    </tr>
                    {% for area in list_area %}
                        <tr>
                            <th colspan="5" style="font-size: 12px">
                                <strong style="font-style: italic; ">
                                    Dirección de Proyectos &nbsp;&nbsp; {{ area.nombre}}
                                </strong>
                            </th>
                            <th colspan="6" style="font-size: 12px">
                                 &nbsp;&nbsp;&nbsp;&nbsp;{{ area.total}}
                            </th>
                        </tr>
                        {% for ot in area.ot %}
                            <tr>
                                <th colspan="5" style="font-size: 12px">
                                    <strong>
                                        {{ ot.codigo}} &nbsp;&nbsp; {{ ot.nombre}}
                                    </strong>
                                </th>
                                <th colspan="6" style="font-size: 12px;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;{{ ot.total}}
                                </th>
                            </tr>
                            {% for act in ot.actividades %}
                                <tr>
                                    <td style="width: 40px"></td>
                                    <td align="center">{{act.codigo }}</td>
                                    <td style="font-style: italic; width: 230px">{{act.nombre }}</td>
                                    <td align="center" style="width: 82px">{{act.valor }}</td>
                                    <td style="width: 20px"></td>
                                    <td colspan="6"></td>
                                </tr>
                                {% for trab in act.trabajadores %}
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td style="width: 188px">{{trab.nombre}}</td>
                                        <td style="width: 30px" align="center">{{trab.codigo}}</td>
                                        <td align="center">{{trab.real}}</td>
                                        <td style="width: 40px" align="center">{{trab.extra}}</td>
                                        <td style="width: 90px"></td>
                                        <td style="width: 70px"></td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}{% endblock %}
